.side-bar-layout {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.side-bar-layout .side-bar-layout__right {
  width: 100%;
  padding: var(--padding-lg);
  overflow: hidden;

  display: flex;
}