.clickable-card {
    border-radius: var(--border-radius-sm);
    padding: var(--padding-xxs) var(--padding-sm);
    background-color: var(--btn-fill-primary);
    color: var(--btn-text-primary);
    box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.11) inset, 0px -2px 1px 0px rgba(0, 0, 0, 0.40) inset;
    cursor: pointer;
    font-size: 14px;
    font-style: normal;

    transition: opacity .3s ease;
}

.clickable-card:active {
    opacity: 0.3;
}