.icon-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-button {
  transition: opacity .2s ease;
  -webkit-transition: opacity .2s ease;
}

.icon-button.icon-button--disabled,
.icon-button:active {
  opacity: .3;
}