.clickable-card {
  border-radius: var(--border-radius-sm);
  padding: var(--padding-xxs) var(--padding-sm);
  background-color: var(--btn-fill-primary);
  color: var(--btn-text-primary);
  font: var(--footnote-bold);
  box-shadow: var(--btn-inner-shadow);
  cursor: pointer;
  font-size: 14px;
  font-style: normal;

  transition: opacity .2s ease;
  -webkit-transition: opacity .2s ease;
}

.clickable-card:active {
  opacity: 0.3;
}

.card {
  background-color: var(--brand-secondary);
  padding: var(--padding-md);
  border-radius: var(--border-radius-md);
}