@font-face {
    font-family: 'Inter-Regular';
    src: url('../fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter-SemiBold';
    src: url('../fonts/Inter-SemiBold.ttf');
}

:root {
    /* Colors */

    --brand-primary: #111315;
    --brand-secondary: #1A1D1F;
    --brand-accent: #FFFF00;
    --brand-white: #FFFFFF;
    --btn-fill-primary: #272B30;
    --btn-text-primary: #FCFCFC;
    --field-fill-primary: #111315;
    --field-line-primary: #272B30;
    --field-label-primary: #6F787E;
    --field-text-primary: #FCFCFC;
    --accent-success: #32D74B;
    --accent-error: #FF5D5D;

    /* Spacing */

    --gap-sm: 8px;
    --gap-md: 12px;
    --gap-lg: 14px;

    --padding-xxs: 6px;
    --padding-xs: 8px;
    --padding-sm: 12px;
    --padding-md: 16px;
    --padding-lg: 24px;

    --border-radius-sm: 8px;
    --border-radius-md: 12px;

    /* Fonts */ 

    --caption1: 400 normal 12px/16px 'Inter-Regular', sans-serif;
    --caption1-bold: 700 normal 12px/16px 'Inter-SemiBold', sans-serif;

    --subheadline: 400 normal 15px/20px 'Inter-Regular', sans-serif;
    --subheadline-bold: 700 normal 15px/20px 'Inter-Semibold', sans-serif;

    --callout: 400 normal 16px/21px 'Inter-Regular', sans-serif;
    --callout-bold: 700 normal 16px/21px 'Inter-Semibold', sans-serif;

    --footnote: 400 normal 14px/18px 'Inter-Regular', sans-serif;
    --footnote-bold: 700 normal 14px/18px 'Inter-Semibold', sans-serif;
}

body {
    background-color: var(--brand-primary);
    color: var(--brand-white);
    line-height: 24px;
    font-family: 'Inter-Regular', sans-serif;
}

.subheadline {
    font: var(--subheadline);
}

.subheadline.subheadline--bold {
    font: var(--subheadline-bold);
}

.callout {
    font: var(--callout);
}

.callout.callout--bold {
    font: var(--callout-bold);
}

.footnote {
    font: var(--footnote);
}

.footnote.footnote--bold {
    font: var(--footnote-bold);
}
