.chevron-icon {
  width: 24px;
  height: 24px;
}

.chevron-icon.chevron-icon--left {
  transform: rotate(-180deg);
}

.chevron-icon.chevron-icon--top {
  transform: rotate(-90deg);
}

.chevron-icon.chevron-icon--bottom {
  transform: rotate(90deg);
}